@model positionDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>positionDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ligne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ligne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.colonne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.colonne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salle.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idPos">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
